@use '../base/base' as base;

.memory_game {
  &_body {
    color: aliceblue;
    height: 100vh;
    padding: 61px 111px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &_board {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
  }
}

.current_player {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 26px;
  margin-right: 70px;

  img {
    width: 29px;
    height: 24px;
  }
}

.score_board {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  background-color: #415652;
}

.blue_player {
  color: #2bb1ff;
}

.orange_player {
  color: #f58e39;
}

.blue_player,
.orange_player {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 24px;
}

.exit_button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-size: 24px;
  color: aliceblue;
  background-color: #415652;
  box-sizing: border-box;
  border: solid 2px transparent;
  box-shadow: 0 0 0 1px #4dd5bc;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    border-color: #4dd5bc;
    box-shadow: none;
  }
}

