.has-gaming-font {
  font-family: 'Orbitron', sans-serif;
  background-color: #294f60;
}

.has-gaming-font .exit_button {
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
  border: 2px solid #e71c4f;
  border-radius: 8px;
  box-shadow: none;

  &:hover {
    transform: scale(1.05);
  }
}

.has-gaming-font .memory_game_header {
  background-color: #535d75;
  border-radius: 8px;
}

.has-gaming-font .score_board {
  background-color: transparent;
}

.has-gaming-font #winnerFeedback.is-visible {
  justify-content: center;
}

.has-gaming-font #winnerFeedback {
  background-color: #294f60;
}

.has-gaming-font #backToStart {
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
  border: 3px solid #ed1b76;
  border-radius: 12px;
}

.has-gaming-font #quitGameModal {
  border-radius: 12px;
  background-color: #f0f6f9;

  & button {
    font-family: 'Orbitron', sans-serif;
  }

  & #quitGameModal_backToGame_button {
    background-color: #ed1b76;
    border-radius: 12px;
    color: #f8f8f8;
  }

  & #quitGameModal_exitGame_button {
    background-color: #f0e4ef;
    border: 3px solid #ed1b76;
    border-radius: 12px;
    color: #ed1b76;
  }
}

.gaming_blue_player {
  &_img {
    width: 29px;
    height: 24px;
    background-image: url('../assets/icons/blue-gaming-label.svg');
    background-size: cover;
  }
}

.has-gaming-font .card.is-matched .card__face--back {
	--matched-border-color: #ed1b76;
	--matched-box-shadow: 5px 5px 8px 0px #ed1b764d;
  border: 3px solid var(--matched-border-color);
  box-shadow: var(--matched-box-shadow);
}