body {
	margin: 0;
	font-family: 'Red Rose', serif;
	font-weight: 400;
	line-height: 1.5;
	color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	line-height: 1.1;
}

h1 {
	font-size: 140px;
}

h2 {
	font-size: 96px;
}

h3 {
	font-size: 72px;
}

h4 {
	font-size: 56px;
}

h5 {
	font-size: 40px;
}

h6 {
	font-size: 32px;
}
