$yellow: #f0ea6e;
$dark: #303131;

body {
	margin: 0;
	font-family: 'Red Rose', serif;
	font-weight: 400;
	line-height: 1.5;
	color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 600;
	line-height: 1.1;
}

h1 {
	font-size: 140px;
  color: white;
}

h2 {
	font-size: 54px;
  font-weight: 700;
}

h3 {
	font-size: 32px;
  font-weight: 700;
}

h4 {
	font-size: 56px;
}

h5 {
	font-size: 40px;
}

h6 {
	font-size: 32px;
}

button {
  font-family: 'Red Rose', serif;
  font-weight: 500;
}
